:root {
  --color-primary: #4c00ff;
  --color-secondary: #000000;
  --color-tertiary: #ffffff;
  --color-background: #151737;
  --color-dropfilter: rgba(11, 12, 29, 0.9);
  --color-text: #fff;
  --color-button: #232433;
  --color-black: #000000;
  --color-white: #ffffff;
  --invert: invert(1);
  --background-search: #00000066;
  --search-button: rgba(29, 131, 221, 1);
  --search-button-800: rgba(29, 131, 221, .8);
}

.light {
  --color-background: #E2EAFC;
  --color-dropfilter: #D7E3FC;
  --color-button: #B6CCFE;
  --color-text: #000;
  --invert: invert(0);
  --background-search: #ffffff66;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  max-height: 100vh;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
}
.loading .spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.search-city {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: var(--background-search);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}
.search-city .search-title {
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .search-city .search-title {
    text-align: center;
  }
}
.search-city .search-bar {
  border: 2px solid #3498db;
  border-right: none;
  border-radius: 13px 0 0 13px;
  width: 220px;
  height: 40px;
  padding: 12px;
}
.search-city .search-bar:focus {
  outline: none;
}
.search-city button {
  background: #e8e8e8;
  width: 40px;
  height: 40px;
  border: 2px solid #3498db;
  border-left: 1px solid #3498db;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
}
.search-city .close {
  padding: 6px;
  border-radius: 13px;
  background-color: var(--search-button);
  cursor: pointer;
  margin-top: 8px;
  transition: all 0.1s linear;
}
.search-city .close:hover {
  background-color: var(--search-button-800);
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.error .error-box {
  padding: 12px;
  border: 2px solid #f3f3f3;
  background: #3498db;
  border-radius: 13px;
  width: 300px;
  height: 200px;
}
.error .close {
  width: 100%;
  background: #f3f3f3;
  border-radius: 13px;
  text-align: center;
  margin-top: 10px;
  color: #000;
  cursor: pointer;
}

.active {
  display: flex;
}

/*# sourceMappingURL=global.css.map */
