@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--color-background);
  background-image: radial-gradient(#444cf7 0.55px, var(--color-background) 0.55px);
  background-size: 11px 11px;
  transition: all 0.4s linear;
  font-family: "Poppins", sans-serif;
  color: var(--color-text);
}
body section {
  margin: 0 auto;
  max-width: 100vh;
  min-height: 100vh;
}
@media (max-width: 768px) {
  body section {
    padding: 10px;
  }
}
body section .weather-box {
  width: 800px;
  height: 500px;
  background: var(--color-dropfilter);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 13px;
  padding: 16px;
  transition: all 0.2s linear;
}
@media (max-width: 768px) {
  body section .weather-box {
    width: 100%;
  }
}
body section .weather-box .top {
  width: 100%;
  height: 50px;
}
body section .weather-box .top .more-info {
  width: 32px;
  height: 32px;
  background: var(--color-button);
  border-radius: 50%;
  gap: 6px;
}
body section .weather-box .top .more-info span {
  background-color: var(--color-white);
  height: 4px;
  width: 20px;
  border-radius: 13px;
}
body section .weather-box .top .more-info span:last-child {
  width: 12px;
  transform: translateX(-2px);
}
body section .weather-box .top .location {
  cursor: pointer;
  gap: 10px;
}
body section .weather-box .top .location .arrow-down, body section .weather-box .top .location img {
  filter: var(--invert);
}
body section .weather-box .top .theme {
  position: relative;
  width: 50px;
  height: 28px;
  background: var(--color-button);
  border-radius: 12px;
}
body section .weather-box .top .theme .circle-selector {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  background: var(--color-white);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
body section .weather-box .top .theme .circle-selector.active {
  left: 26px;
}
body section .weather-box .title-conditions h3 {
  font-size: 50px;
  font-weight: 100;
}
body section .weather-box .icon-condition {
  width: 100%;
  height: 150px;
  margin-top: 10px;
}
body section .weather-box .icon-condition div {
  position: relative;
  width: 300px;
  border-radius: 23px;
}
body section .weather-box .icon-condition div img {
  animation: weather 2s linear infinite;
  z-index: 1;
  margin: 0 auto;
}
body section .weather-box .icon-condition h3 {
  font-weight: 300;
  text-transform: capitalize;
}
body section .weather-box .conditions {
  margin-top: 10px;
}
body section .weather-box .extra {
  margin-top: 30px;
  gap: 60px;
}
@media (max-width: 768px) {
  body section .weather-box .extra {
    gap: 0;
  }
}
body section .weather-box .extra img {
  border-radius: 50%;
}
@media (max-width: 768px) {
  body section .weather-box .extra img {
    width: 40px;
    height: 40px;
    background: #fff;
    padding: 4px;
  }
}
body section .weather-box .extra div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  width: 100px;
  height: 100px;
  padding: 20px;
  color: #000;
  font-size: 13px;
}
@media (max-width: 768px) {
  body section .weather-box .extra div {
    font-size: 12px;
    background: transparent;
    width: 80px;
    width: 80px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  body section .weather-box .extra div span {
    font-weight: bold;
    color: var(--color-text);
  }
}
@media (max-width: 768px) {
  body section .weather-box .extra div p {
    font-weight: 300;
    color: var(--color-text);
  }
}

/*# sourceMappingURL=landing-page.css.map */
