@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');
@import './global.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);

    section {
        margin: 0 auto;
        max-width: 100vh;
        min-height: 100vh;

        .weather-box {
            width: 800px;
            height: 500px;
            background: var(--color-dropfilter);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 13px;
            padding: 16px;
            transition: all .2s linear;

            @media (max-width: 768px) {
                width: 90%;
            }

            .top {
                width: 100%;
                height: 50px;

                .more-info {
                    width: 32px;
                    height: 32px;
                    background: var(--color-button);
                    border-radius: 50%;
                    gap: 6px;

                    span {
                        background-color: var(--color-white);
                        height: 4px;
                        width: 20px;
                        border-radius: 13px;

                        &:last-child {
                            width: 12px;
                            transform: translateX(-2px);
                        }
                    }
                }

                .location {
                    cursor: pointer;
                    gap: 10px;

                    .arrow-down {
                        filter: var(--invert);
                    }

                  
                }

                .theme {
                    position: relative;
                    width: 50px;
                    height: 28px;
                    background: var(--color-button);
                    border-radius: 12px;

                    .circle-selector {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 24px;
                        height: 24px;
                        background: var(--color-white);
                        border-radius: 50%;
                        transition: all 0.3s ease-in-out;

                        &.active {
                            left: 26px;
                        }
                    }
                }
            }

            .title-conditions {
                margin-top: 40px;

                h3 {
                    font-size: 20px;
                    font-weight: 400;
                }
            }

            .icon-condition {
                width: 100%;
                height: 150px;
                margin-top: 10px;

                div {
                    position: relative;
                    width: 300px;
                    border-radius: 23px;

                    img {
                        z-index: 1;
                        margin: 0 auto;
                    }


                    &:after {
                        position: absolute;
                        content:"";
                        top: 0px;
                        left: 10px;
                        width: 170px;
                        height: 120px;
                        border-radius: 50%;
                        background: linear-gradient(90deg, var(--color-dropfilter) 0%, rgba(0, 0, 255, 0.4) 50%, var(--color-dropfilter) 100%);
                        filter: blur(20px);
                    }

                    &:before {
                        position: absolute;
                        content:"";
                        top: 0;
                        right: 10px;
                        width: 170px;
                        height: 120px;
                        border-radius: 50%;
                        background: linear-gradient(90deg, var(--color-dropfilter) 0%, rgba(255, 255, 0, 0.3) 50%, var(--color-dropfilter) 100%);
                        filter: blur(20px);
                    }
                }

                h3 {
                    font-weight: 300;
                    text-transform: capitalize;
                }
            }

            .conditions {
                margin-top: 10px;
            }

            .extra {
                margin-top: 30px;;
                gap: 60px;
            }
        }
    }
}