@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    background-image: radial-gradient(#444cf7 0.55px, var(--color-background) 0.55px);
    background-size: 11px 11px;
    transition: all .4s linear;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);

    section {
        margin: 0 auto;
        max-width: 100vh;
        min-height: 100vh;

        @media (max-width: 768px) { 
            padding: 10px;
        }

        .weather-box {
            width: 800px;
            height: 500px;
            background: var(--color-dropfilter);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            border-radius: 13px;
            padding: 16px;
            transition: all .2s linear;

            @media (max-width: 768px) {
                width: 100%;
            }

            .top {
                width: 100%;
                height: 50px;

                .more-info {
                    width: 32px;
                    height: 32px;
                    background: var(--color-button);
                    border-radius: 50%;
                    gap: 6px;

                    span {
                        background-color: var(--color-white);
                        height: 4px;
                        width: 20px;
                        border-radius: 13px;

                        &:last-child {
                            width: 12px;
                            transform: translateX(-2px);
                        }
                    }
                }

                .location {
                    cursor: pointer;
                    gap: 10px;

                    .arrow-down, img {
                        filter: var(--invert);
                    }

                  
                }

                .theme {
                    position: relative;
                    width: 50px;
                    height: 28px;
                    background: var(--color-button);
                    border-radius: 12px;

                    .circle-selector {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 24px;
                        height: 24px;
                        background: var(--color-white);
                        border-radius: 50%;
                        transition: all 0.3s ease-in-out;

                        &.active {
                            left: 26px;
                        }
                    }
                }
            }

            .title-conditions {
                h3 {
                    font-size: 50px;
                    font-weight: 100;
                }
            }

            .icon-condition {
                width: 100%;
                height: 150px;
                margin-top: 10px;

                div {
                    position: relative;
                    width: 300px;
                    border-radius: 23px;

                    img {
                        animation: weather 2s linear infinite;
                        z-index: 1;
                        margin: 0 auto;
                    }
                }

                h3 {
                    font-weight: 300;
                    text-transform: capitalize;
                }
            }

            .conditions {
                margin-top: 10px;
            }

            .extra {
                margin-top: 30px;;
                gap: 60px;

                @media (max-width: 768px) {
                    gap: 0;
                }


                img {
                    border-radius: 50%;

                    @media (max-width: 768px) {
                        width: 40px;
                        height: 40px;
                        background: #fff;
                        padding: 4px;
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: #fff;
                    width: 100px;
                    height: 100px;
                    padding: 20px;
                    color: #000;
                    font-size: 13px;

                    @media (max-width: 768px){
                       font-size: 12px;
                       background: transparent;
                       width: 80px;
                       width: 80px;
                       padding: 0;
                    }

                    span {
                        @media (max-width: 768px){
                            font-weight: bold;
                            color: var(--color-text);
                        }
                    }

                    p {
                        @media (max-width: 768px){
                            font-weight: 300;
                            color: var(--color-text);
                        }
                    }
                }
            }
        }
    }
}